.pnj-fixe {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    cursor: pointer;
}

.boite-dialogue {
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}